html {
    background-color: #032535;
}

.center-text {
    text-align: center;
    color: #ffb515;
}

.number-system-grid {
    display: grid;
    justify-items: center;
}

.grid-item {
    width: 70%;
    margin-top: 45px;
}

.button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.calculation-grid {
    display: grid;
    justify-items: center;
    margin-top: 40px;
}

.calculation-item {
    width: 70%;
    margin: 0 auto 50px;
}

@media (min-width: 800px) {
    .number-system-grid {
        grid-template-columns: repeat(3, 1fr);
        margin: 40px 0;
    }

    .calculation-item {
        width: 60%;
    }

    .grid-item {
        width: 80%;
    }
}
